.side
  .side__header
    .side__header__contents
      .side__header__contents__user_name
        = current_user.name
      .side__header__contents__create
        = link_to new_group_path, class: "create_btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "create_btn" do
          = icon('fas', 'cogs')

  .side__contents
    - current_user.groups.each do |group|
      .side__contents__group
        = link_to group_messages_path(group) do
          .side__contents__group_name
            = group.name
          .side__contents__group_newMessage
            まだメッセージがありません